# Requerimientos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Carga de los datos

In [7]:
data = pd.read_csv("https://raw.githubusercontent.com/kevirui/prueba-tecnica-data-analyst/refs/heads/main/data_cruda.csv")

In [8]:
data.head()

,Pais,Growth Manager,Marca,Sucursal,App,Mes,Visitas,Conversión,Ordenes,Ventas,Recompra,NPS,Disponibilidad,Órdenes con Demora (%),Órdenes Canceladas (%),Tiempo de Preparación
0,Argentina,Juanchi,MARCA A,Devoto,Pedidos Ya,1 jun 2025,16668.0,0.1972,3287.0,80581268.30,NaN,4.60,0.9284,0.1972,0.0012,14.0
1,Argentina,Juanchi,MARCA A,Belgrano,Pedidos Ya,1 jun 2025,15632.0,0.2019,3156.0,73300361.80,NaN,4.60,0.9237,0.2019,0.0031,15.0
2,Argentina,Juanchi,MARCA A,Urquiza,Rappi,1 ago 2024,23553.0,0.1320,3109.0,65007470.00,0.7758,4.30,0.9850,NaN,0.0003,NaN
3,Argentina,Juanchi,MARCA A,Urquiza,Rappi,1 jun 2025,24432.0,0.1250,3054.0,85972146.00,0.7417,4.45,0.9995,NaN,0.0000,NaN
4,Argentina,Juanchi,MARCA A,Urquiza,Pedidos Ya,1 jun 2025,16105.0,0.1805,2907.0,72389060.85,NaN,4.60,0.9334,0.1805,0.0010,17.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Pais                    488 non-null    object
 1   Growth Manager          488 non-null    object
 2   Marca                   488 non-null    object
 3   Sucursal                488 non-null    object
 4   App                     488 non-null    object
 5   Mes                     488 non-null    object
 6   Visitas                 472 non-null    float64
 7   Conversión              472 non-null    float64
 8   Ordenes                 472 non-null    float64
 9   Ventas                  472 non-null    float64
 10  Recompra                264 non-null    float64
 11  NPS                     472 non-null    float64
 12  Disponibilidad          472 non-null    float64
 13  Órdenes con Demora (%)  208 non-null    float64
 14  Órdenes Canceladas (%)  472 non-null    float64
 15  Tiempo de Preparación   208 non-null    float64
dtypes: float64(10), object(6)
memory usage: 61.1+ KB

In [10]:
data.describe()

,Visitas,Conversión,Ordenes,Ventas,Recompra,NPS,Disponibilidad,Órdenes con Demora (%),Órdenes Canceladas (%),Tiempo de Preparación
count,472.000000,472.000000,472.000000,4.720000e+02,264.000000,472.000000,472.000000,208.000000,472.000000,208.000000
mean,5531.488933,0.161656,725.701271,1.655203e+07,0.575719,4.442097,0.988456,0.243117,0.001944,15.668269
std,4313.974446,0.203815,687.289403,1.694957e+07,0.177179,0.429484,0.013856,0.282856,0.004711,4.086097
min,56.000000,0.011000,13.000000,1.691950e+05,0.163300,0.000000,0.902100,0.024400,0.000000,9.000000
25%,2175.500000,0.080975,191.250000,4.097106e+06,0.443275,4.367500,0.985000,0.102200,0.000000,13.000000
50%,4830.000000,0.114000,537.000000,1.129156e+07,0.634700,4.500000,0.992950,0.131200,0.000000,15.000000
75%,7167.750000,0.146550,969.750000,2.218764e+07,0.710500,4.600000,0.997400,0.171550,0.002200,17.250000
max,24432.000000,0.962500,3654.000000,9.173454e+07,0.829100,5.000000,1.000000,0.962500,0.057300,30.000000

# Limpieza y Preparación

In [13]:
data.isnull().sum()

Pais                        0
Growth Manager              0
Marca                       0
Sucursal                    0
App                         0
Mes                         0
Visitas                    16
Conversión                 16
Ordenes                    16
Ventas                     16
Recompra                  224
NPS                        16
Disponibilidad             16
Órdenes con Demora (%)    280
Órdenes Canceladas (%)     16
Tiempo de Preparación     280
dtype: int64

In [14]:
data.duplicated().sum()

np.int64(0)

In [19]:
data['Mes']

0       1 jun 2025
1       1 jun 2025
2       1 ago 2024
3       1 jun 2025
4       1 jun 2025
          ...
483     1 jul 2025
484    14 jul 2025
485    14 jul 2025
486    14 jul 2025
487    14 jul 2025
Name: Mes, Length: 488, dtype: object

In [21]:
data['Mes'] = pd.to_datetime(data['Mes'], format='%Y-%m')

ValueError: time data "1 jun 2025" doesn't match format "%Y-%m", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.